@import "tailwindcss";

:root {
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: hsl(211, 100%, 37%);
}
.form {
  padding: 24px;
  justify-content: center;
  align-items: center;
}
.input-group {
  border-bottom: 3px solid blue;
}
input {
  width: 100%;
  border: none;
  outline: none;
  color: #666666;
  font-size: 24px;
}
.dropdown {
  padding: 0 4px;
}
.dropdown,
button {
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
  line-height: 100%;
}
button {
  color: #fff;
  padding: 14px;
  margin-bottom: 24px;
}
.settings {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.icon__two {
  gap: 8px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
h2 {
  color: #666666;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
select {
  border: none;
  outline: none;
}
.placeholder {
  font-size: 14px;
  padding: 0 5px;
  position: absolute;
  top: 10px;
  left: 8px;
  pointer-events: none;
  transition: 0.3s ease all;
  color: #666666;
}
.input-wrap {
  position: relative;
}
.input:focus + .placeholder {
  top: -15px;
}
